@import url(/CSS/stylezero.css);
@import url(/CSS/stylesheet.css);
h1 {
  margin-top: 22px;
  font-family: "MuseoSansCyrl";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #014751;
}

hr {
  border: 1px solid rgba(233, 233, 233, 0.8);
}

.container {
  max-width: 1312px;
  margin: 0 auto;
}

@media (max-width: 1350px) {
  .container {
    padding: 0 20px 0 20px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.wrapper .main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer {
  background-color: #014751;
  padding: 20px;
  min-height: 200px;
  width: 100%;
  margin-top: 80px;
}

@media (min-width: 1120px) {
  .t-line__h-menu-open {
    display: none;
  }
}

.fa-bars {
  margin-left: 40px;
  font-size: 50px;
  cursor: pointer;
  color: #035063;
}

.header__h-menu {
  font-family: "Proxima Nova Rg", Arial, sans-serif;
  font-size: 20px;
  position: absolute;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  padding: 50px;
  height: 500px;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  z-index: 20;
}

.header__h-menu .nav__menu-h ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__h-menu .nav__menu-h ul a {
  color: #035063;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__h-menu .nav__menu-h ul a:hover {
  background-color: #e6e6e6;
}

.header__h-menu .nav__menu-h ul li {
  border: none;
  margin-bottom: 20px;
}

.header__h-menu .nav__menu-h ul li:first-child {
  margin-left: 50px;
}

.h-menu__body h1 {
  margin-bottom: 30px;
  margin-top: 0;
}

.fa-xmark {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 50px;
  cursor: pointer;
  color: #035063;
}

.t-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.t-line__logo-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.t-line__logo {
  width: 344px;
  cursor: pointer;
}

@media (max-width: 1020px) {
  .t-line__logo {
    width: 180px;
  }
}

@media (max-width: 1020px) {
  .t-line__logo img {
    width: 180px;
  }
}

.t-line__address {
  margin-left: 40px;
  border-left: 1px solid rgba(233, 233, 233, 0.8);
  padding-left: 32px;
}

@media (max-width: 890px) {
  .t-line__address {
    display: none;
  }
}

.address {
  font-family: "Proxima Nova Rg";
  font-weight: 700;
}

.address__city {
  font-size: 20px;
  line-height: 24px;
  color: #014751;
}

.address__signed {
  font-size: 14px;
  line-height: 20px;
  color: #014751;
}

.address__signed span {
  color: #878787;
}

.t-line__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.t-line__contacts-icons {
  margin-right: 16px;
  cursor: pointer;
}

@media (max-width: 660px) {
  .t-line__contacts-icons {
    display: none;
  }
}

.t-line__contacts-icons img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.t-line__contacts-icons img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.t-line__contacts-sign {
  font-family: "Proxima Nova Rg";
}

@media (max-width: 540px) {
  .t-line__contacts-sign {
    display: none;
  }
}

.t-line__contacts-sign1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #035063;
  opacity: 0.6;
}

.t-line__contacts-sign2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #035063;
}

.t-line__contacts-sign3 a {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #014751;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.t-line__contacts-sign3 a:hover {
  text-decoration: underline;
}

.header__nav {
  min-height: 80px;
  font-family: "Proxima Nova Rg", Arial, sans-serif;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1120px) {
  .nav {
    display: none;
  }
}

.nav__left {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #035063;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1300px) {
  .nav__left {
    font-size: 14px;
  }
}

.nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__menu ul a {
  color: #035063;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav__menu ul a:hover {
  background-color: #e6e6e6;
}

.nav__menu ul li:not(:first-child) {
  margin-right: 20px;
  padding-left: 20px;
  border-left: 1px solid rgba(233, 233, 233, 0.8);
}

@media (max-width: 1300px) {
  .nav__menu ul li:not(:first-child) {
    margin-right: 10px;
    padding-left: 10px;
  }
}

.nav__menu-icon {
  position: relative;
  margin-right: 20px;
  margin-left: 80px;
}

@media (max-width: 1300px) {
  .nav__menu-icon {
    margin-right: 10px;
    margin-left: 70px;
  }
}

.nav__menu-icon::before {
  content: "";
  background-image: url(/images/menu-icon.svg);
  width: 24px;
  height: 18px;
  left: -40px;
  top: 2px;
  position: absolute;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__btn {
  margin-left: 40px;
}

.yellow-btn {
  font-family: "Proxima Nova Rg", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #ff7512;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 140, 105, 0.29);
          box-shadow: 0px 4px 16px rgba(255, 140, 105, 0.29);
  border-radius: 38px;
  width: 200px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.yellow-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.grey-btn {
  font-family: "Proxima Nova Rg", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: rgba(3, 80, 99, 0.7);
  -webkit-box-shadow: 0px 4px 16px rgba(255, 140, 105, 0.29);
          box-shadow: 0px 4px 16px rgba(255, 140, 105, 0.29);
  border-radius: 38px;
  width: 200px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__page-title {
  min-height: 300px;
  background: rgba(239, 239, 239, 0.3);
}

@media (max-width: 400px) {
  .main__page-title {
    min-height: 320px;
  }
}

.page-title {
  position: relative;
}

.page-title__img {
  position: absolute;
  left: 900px;
}

@media (max-width: 1020px) {
  .page-title__img {
    display: none;
  }
}

.breadcrumbs {
  padding-top: 24px;
  font-family: "Proxima Nova Rg", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(3, 80, 99, 0.7);
}

.breadcrumbs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__nav ul :not(:first-child) {
  position: relative;
}

.breadcrumbs__nav ul :not(:first-child)::before {
  content: "";
  background: rgba(3, 80, 99, 0.7);
  border-radius: 50%;
  height: 5px;
  width: 5px;
  position: absolute;
  left: -16px;
  top: 10px;
}

.breadcrumbs__nav ul li {
  margin-left: 30px;
}

.breadcrumbs__nav ul li:first-child {
  margin-left: 20px;
}

@media (max-width: 545px) {
  .page-title__title h1 {
    font-size: 25px;
    line-height: 30px;
  }
}

.page-title__subtitle {
  margin-top: 25px;
  max-width: 663px;
  font-family: "MuseoSansCyrl";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */
  color: #014751;
}

@media (max-width: 545px) {
  .page-title__subtitle {
    font-size: 16px;
  }
}

.main__slider {
  margin-top: -90px;
  position: relative;
}

@media (max-width: 710px) {
  .main__slider {
    width: 95vw;
    margin-top: -50px;
  }
}

.slider {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 550px;
  margin-bottom: 15px;
}

@media (max-width: 710px) {
  .slider img {
    max-width: 100vw;
  }
}

.slideText {
  margin-top: -450px;
  margin-left: 70px;
  max-width: 670px;
  font-size: 35px;
  left: 70px;
  top: 20%;
  height: 500px;
}

@media (max-width: 710px) {
  .slideText {
    margin-top: 40px;
    margin-left: 40px;
    max-width: 470px;
    line-height: 25px;
  }
}

@media (max-width: 540px) {
  .slideText {
    margin-top: 40px;
    margin-left: 10px;
    max-width: 360px;
    line-height: 25px;
  }
}

.slideText__label {
  font-family: "Proxima Nova Rg";
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  background-color: #035063;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.slideText__title {
  margin-top: 15px;
  font-family: "Proxima Nova Rg";
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #035063;
}

@media (max-width: 710px) {
  .slideText__title {
    font-size: 25px;
    line-height: 29px;
  }
}

.old-price {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.old-price__price {
  font-family: "Proxima Nova Lt";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #333333;
}

.old-price__label {
  position: relative;
  margin-left: 50px;
  font-family: "Proxima Nova Rg";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background: #ff7512;
  border-radius: 5px;
  width: 56px;
  height: 30px;
}

.old-price__label::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background: #ff7512;
  left: -4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slideText__price {
  font-family: "Proxima Nova Th";
  font-weight: 800;
  font-size: 46px;
  line-height: 50px;
  color: #035063;
}

.slideText__action-time {
  font-family: "Proxima Nova Rg";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  opacity: 0.75;
}

.slideText__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 540px) {
  .slideText__btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.btns {
  margin-top: 25px;
}

.btns__sign-up {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 540px) {
  .btns__sign-up {
    max-width: 300px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.btns__more {
  margin-left: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 540px) {
  .btns__more {
    margin-left: 0px;
    margin-top: 20px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 300px;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 60px;
}

@media (max-width: 710px) {
  .slider .slick-arrow {
    top: 20%;
  }
}

@media (max-width: 540px) {
  .slider .slick-arrow {
    top: 15%;
    width: 0px;
    height: 0px;
  }
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../images/left-arrow.png) 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../images/right-arrow.png) 0 0/100% no-repeat;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 710px) {
  .slider .slick-dots {
    display: none;
  }
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

@media (max-width: 710px) {
  .slider .slick-dots li {
    display: none;
  }
}

.slider .slick-dots li.slick-active button {
  background-color: #ff7512;
}

.slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #b9b9b9;
  border-radius: 50%;
}

.slider__item {
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */